.gradle
.idea
.kotlin
build
refresh.sh
refreshW.sh

/bsrefresh.sh
/bsrefreshW.sh
/upload.sh
/build-mvnlocal.sh
/examples/fullstack-ktor-koin/logs
/examples/ssr-ktor/logs/
/examples.sh
/examples_wasm.sh
