.splitpanel-vertical {
    display: flex;
    flex-direction: row;
    overflow: auto;
}

.splitpanel-vertical > *:first-child {
    max-width: calc(100% - 9px);
}

.splitpanel-vertical > * {
    flex: 0 0 auto;
    overflow: auto;
}

.splitpanel-vertical > *:last-child {
    flex: 1 1 auto;
    overflow: auto;
}

.splitpanel-horizontal {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.splitpanel-horizontal > *:first-child {
    max-height: calc(100% - 9px);
}

.splitpanel-horizontal > * {
    flex: 0 0 auto;
    overflow: auto;
}

.splitpanel-horizontal > *:last-child {
    flex: 1 1 auto;
    overflow: auto;
}

.splitter-vertical {
    flex: 0 0 auto;
    width: 9px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAhCAQAAABOpSL+AAAAIklEQVR4AWMwbb/PdR+JZDD9f1/oPhI5sgVGBSruc9xHIgGdSQqqQJGkRgAAAABJRU5ErkJggg==') center center no-repeat #cecece;
    cursor: col-resize;
}

.splitter-horizontal {
    flex: 0 0 auto;
    height: 9px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAICAQAAADdTl4aAAAAIElEQVQoz2MwrTD9TxFsZ7jPcV+IIsjFQAUw6hFqegQA+xzRHT2p7pEAAAAASUVORK5CYII=') center center no-repeat #cecece;
    cursor: row-resize;
}

.kilua-radio-inline {
    display: inline-block;
}

select:required:invalid {
    color: rgb(128, 128, 128);
}

select:required option {
    color: black;
}

trix-editor {
    overflow-y: auto;
}

trix-toolbar .trix-button-group {
    margin-bottom: 3px !important;
}

[data-bs-theme="dark"] trix-toolbar .trix-button {
    background: #fff !important;
}

.nav.tabs-top {
    flex-wrap: nowrap;
}

ul.tabs-top {
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
}

ul.tabs-top > li {
    float: none;
    flex-shrink: 0;
}

.kilua-tab-close {
    width: 8px;
    height: 8px;
}

.kilua-tab-panel .nav-tabs .nav-link:focus, .kilua-tab-panel .nav-tabs .nav-link:hover {
    isolation: inherit;
}

.btn-group-xsm > .btn, .btn-xsm {
    --bs-btn-padding-y: 0.1rem;
    --bs-btn-padding-x: 0.4rem;
    --bs-btn-font-size: 0.8rem;
    --bs-btn-border-radius: 0.25rem;
    padding-top: 3px;
}

.dropdown-toggle.kilua-dropdown-no-arrow::after {
    content: none;
}

.toastify {
    background-image: unset;
    background-color: blue;
}

.kilua-toastify-primary {
    color: #fff !important;
    background-color: rgba(13,110,253) !important;
}

.kilua-toastify-secondary {
    color: #fff !important;
    background-color: rgba(108,117,125) !important;
}

.kilua-toastify-success {
    color: #fff !important;
    background-color: rgba(25,135,84) !important;
}

.kilua-toastify-info {
    color: #000 !important;
    background-color: rgba(13,202,240) !important;
}

.kilua-toastify-warning {
    color: #000 !important;
    background-color: rgba(255,193,7) !important;
}

.kilua-toastify-danger {
    color: #fff !important;
    background-color: rgba(220,53,69) !important;
}

.kilua-toastify-light {
    color: #000 !important;
    background-color: rgba(248,249,250) !important;
}

.kilua-toastify-dark {
    color: #fff !important;
    background-color: rgba(33,37,41) !important;
}

/*!
 * bootstrap-vertical-tabs - v1.2.2
 * https://dbtek.github.io/bootstrap-vertical-tabs
 * 2016-12-02
 * Copyright (c) 2016 İsmail Demirbilek
 * License: MIT
 */
.nav-tabs.tabs-left, .nav-tabs.tabs-right {
    border-bottom: none;
    padding-top: 2px;
}

.nav-tabs.tabs-left {
    border-right: 1px solid #dee2e6;
}

.nav-tabs.tabs-right {
    border-left: 1px solid #dee2e6;
}

.nav-tabs.tabs-left > li.nav-item, .nav-tabs.tabs-right > li.nav-item {
    float: none;
    margin-bottom: 2px;
}

.nav-tabs.tabs-left > li.nav-item {
    margin-right: -1px;
}

.nav-tabs.tabs-right > li.nav-item {
    margin-left: -1px;
}

.nav-tabs.tabs-left > li.nav-item > button.nav-link.active,
.nav-tabs.tabs-left > li.nav-item > button.nav-link.active:hover,
.nav-tabs.tabs-left > li.nav-item > button.nav-link.active:focus {
    border-bottom-color: #dee2e6;
    border-right-color: transparent;
}

.nav-tabs.tabs-right > li.nav-item > button.nav-link.active,
.nav-tabs.tabs-right > li.nav-item > button.nav-link.active:hover,
.nav-tabs.tabs-right > li.nav-item > button.nav-link.active:focus {
    border-bottom: 1px solid #dee2e6;
    border-left-color: transparent;
}

.nav-tabs.tabs-left > li.nav-item > button.nav-link {
    border-radius: 4px 0 0 4px;
    margin-right: 0;
    width: 100%;
    text-align: left;
}

.nav-tabs.tabs-right > li.nav-item > button.nav-link {
    border-radius: 0 4px 4px 0;
    margin-right: 0;
    width: 100%;
    text-align: left;
}
