.splitpanel-vertical {
    display: flex;
    flex-direction: row;
    overflow: auto;
}

.splitpanel-vertical > *:first-child {
    max-width: calc(100% - 9px);
}

.splitpanel-vertical > * {
    flex: 0 0 auto;
    overflow: auto;
}

.splitpanel-vertical > *:last-child {
    flex: 1 1 auto;
    overflow: auto;
}

.splitpanel-horizontal {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.splitpanel-horizontal > *:first-child {
    max-height: calc(100% - 9px);
}

.splitpanel-horizontal > * {
    flex: 0 0 auto;
    overflow: auto;
}

.splitpanel-horizontal > *:last-child {
    flex: 1 1 auto;
    overflow: auto;
}

.splitter-vertical {
    flex: 0 0 auto;
    width: 9px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAhCAQAAABOpSL+AAAAIklEQVR4AWMwbb/PdR+JZDD9f1/oPhI5sgVGBSruc9xHIgGdSQqqQJGkRgAAAABJRU5ErkJggg==') center center no-repeat #cecece;
    cursor: col-resize;
}

.splitter-horizontal {
    flex: 0 0 auto;
    height: 9px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAICAQAAADdTl4aAAAAIElEQVQoz2MwrTD9TxFsZ7jPcV+IIsjFQAUw6hFqegQA+xzRHT2p7pEAAAAASUVORK5CYII=') center center no-repeat #cecece;
    cursor: row-resize;
}

.kilua-radio-inline {
    display: inline-block;
}

select:required:invalid {
    color: rgb(128, 128, 128);
}

select:required option {
    color: black;
}

trix-editor {
    overflow-y: auto;
}

trix-toolbar .trix-button-group {
    margin-bottom: 3px !important;
}

.nav.tabs-top {
    flex-wrap: nowrap;
}

ul.tabs-top {
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
}

ul.tabs-top > li {
    float: none;
    flex-shrink: 0;
}

.kilua-tab-close {
    width: 8px;
    height: 8px;
}

.kilua-tab-panel .nav-tabs .nav-link:focus, .kilua-tab-panel .nav-tabs .nav-link:hover {
    isolation: inherit;
}

.btn-group-xsm > .btn, .btn-xsm {
    --bs-btn-padding-y: 0.1rem;
    --bs-btn-padding-x: 0.4rem;
    --bs-btn-font-size: 0.8rem;
    --bs-btn-border-radius: 0.25rem;
    padding-top: 3px;
}

.dropdown-toggle.kilua-dropdown-no-arrow::after {
    content: none;
}

.toastify {
    background-image: unset;
    background-color: blue;
}

.kilua-toastify-primary {
    color: #fff !important;
    background-color: rgba(13,110,253) !important;
}

.kilua-toastify-secondary {
    color: #fff !important;
    background-color: rgba(108,117,125) !important;
}

.kilua-toastify-success {
    color: #fff !important;
    background-color: rgba(25,135,84) !important;
}

.kilua-toastify-info {
    color: #000 !important;
    background-color: rgba(13,202,240) !important;
}

.kilua-toastify-warning {
    color: #000 !important;
    background-color: rgba(255,193,7) !important;
}

.kilua-toastify-danger {
    color: #fff !important;
    background-color: rgba(220,53,69) !important;
}

.kilua-toastify-light {
    color: #000 !important;
    background-color: rgba(248,249,250) !important;
}

.kilua-toastify-dark {
    color: #fff !important;
    background-color: rgba(33,37,41) !important;
}

.was-validated .input-group.kilua-td:has(:invalid) ~ .invalid-feedback, .was-validated .input-group.kilua-td:has(:invalid) ~ .invalid-tooltip {
    display: block;
}

.ts-wrapper:not(.multi) .ts-control {
    flex-wrap: nowrap;
}

.ts-control .item {
    white-space: nowrap;
}

.ts-control input::placeholder {
    color: var(--bs-secondary-color, rgba(33, 37, 41, 0.75));
    opacity: 1;
}

.disabled .ts-control {
    background-color: var(--bs-secondary-bg, #e9ecef);
    opacity: 1;
}

.disabled .ts-control input::placeholder {
    color: var(--bs-secondary-color, rgba(33, 37, 41, 0.75));
    opacity: 1;
}

.ts-wrapper.kilua-typeahead .ts-control, .ts-wrapper.kilua-typeahead .ts-control input {
    cursor: inherit;
}

.ts-wrapper.is-invalid.kilua-typeahead, .was-validated .invalid.kilua-typeahead, .was-validated :invalid + .ts-wrapper.kilua-typeahead {
    padding-right: calc(1.5em + .75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 12 12%27 width=%2712%27 height=%2712%27 fill=%27none%27 stroke=%27%23dc3545%27%3e%3ccircle cx=%276%27 cy=%276%27 r=%274.5%27/%3e%3cpath stroke-linejoin=%27round%27 d=%27M5.8 3.6h.4L6 6.5z%27/%3e%3ccircle cx=%276%27 cy=%278.2%27 r=%27.6%27 fill=%27%23dc3545%27 stroke=%27none%27/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.kilua-tom-select-remote-divider {
    height: 0;
    margin: .5rem 0;
    overflow: hidden;
    border-top: 1px solid #888888;
}

.tabulator {
    font-size: var(--bs-body-font-size);
}

button.tabulator-page {
    font-size: var(--bs-body-font-size);
}

.tabulator-row .tabulator-responsive-collapse table {
    font-size: var(--bs-body-font-size);
}

.tabulator-popup-container {
    font-size: var(--bs-body-font-size);
}

.tabulator-row .tabulator-cell.tabulator-editing input, .tabulator-row .tabulator-cell.tabulator-editing select {
    border: 1px solid #ccc;
    border-radius: 4px;
}

.tabulator-row .tabulator-cell.tabulator-editing input:focus, .tabulator-row .tabulator-cell.tabulator-editing select:focus {
    border-color: #86b7fe;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
}

.tabulator-row .tabulator-cell.tabulator-editing {
    border-right: 1px solid #1d68cd !important;
    padding: 6px !important;
}

.tabulator.table-bordered > .tabulator-tableHolder > * > *, .tabulator.table-bordered > .tabulator-tableholder > * > * {
    border-bottom: 1px solid #dee2e6;
}

.tabulator .tabulator-footer {
    background-color: inherit;
}

.tabulator.table-sm > :not(caption) > * > * {
    padding: 0;
}

.tabulator-row.tabulator-row-even {
    background-color: inherit;
}

@media (hover:hover) and (pointer:fine) {
    .tabulator.table-striped:not(.table) .tabulator-row.tabulator-row-even.tabulator-selectable:hover {
        background-color:#e9ecef;
    }
    .tabulator.table-striped:not(.table) .tabulator-row.tabulator-row-even.tabulator-selected:hover {
        background-color:#9abcea;
    }
    .tabulator-row.tabulator-selectable:hover {
        background-color:inherit;
    }
    .tabulator-row.tabulator-selected:hover {
        background-color:#9abcea;
    }

    .tabulator.table-hover.table-striped:not(.table) .tabulator-row.tabulator-row-even.tabulator-selectable:hover {
        background-color:#ced4da;
    }
    .tabulator.table-hover.table-striped:not(.table) .tabulator-row.tabulator-row-even.tabulator-selected:hover {
        background-color:#769bcc;
    }
    .tabulator.table-hover:not(.table) .tabulator-row.tabulator-selectable:hover {
        background-color:#ced4da;
    }
    .tabulator.table-hover:not(.table) .tabulator-row.tabulator-selected:hover {
        background-color:#769bcc;
    }
}

[data-bs-theme="dark"] trix-toolbar .trix-button {
    background: #fff !important;
}

[data-bs-theme="dark"] .tabulator .tabulator-header .tabulator-col, [data-bs-theme="dark"] .tabulator .tabulator-tableholder .tabulator-table .tabulator-row .tabulator-cell, [data-bs-theme="dark"] .tabulator .tabulator-tableholder, [data-bs-theme="dark"] .tabulator .tabulator-footer {
    background-color: var(--bs-body-bg, #212529);
}

[data-bs-theme="dark"] .tabulator .tabulator-header .tabulator-col.tabulator-sortable.tabulator-col-sorter-element:hover {
    background-color: var(--bs-secondary-bg, #343a40);
}

[data-bs-theme="dark"] .ts-control, [data-bs-theme="dark"] .ts-control input, [data-bs-theme="dark"] .ts-dropdown {
    color: inherit;
}

[data-bs-theme="dark"] .ts-dropdown {
    background-color: var(--bs-secondary-bg, #343a40);
}

[data-bs-theme="dark"] .ts-dropdown [data-selectable] .highlight {
    background-color: #757575;
}

/*!
 * bootstrap-vertical-tabs - v1.2.2
 * https://dbtek.github.io/bootstrap-vertical-tabs
 * 2016-12-02
 * Copyright (c) 2016 İsmail Demirbilek
 * License: MIT
 */
.nav-tabs.tabs-left, .nav-tabs.tabs-right {
    border-bottom: none;
    padding-top: 2px;
}

.nav-tabs.tabs-left {
    border-right: 1px solid #dee2e6;
}

.nav-tabs.tabs-right {
    border-left: 1px solid #dee2e6;
}

.nav-tabs.tabs-left > li.nav-item, .nav-tabs.tabs-right > li.nav-item {
    float: none;
    margin-bottom: 2px;
}

.nav-tabs.tabs-left > li.nav-item {
    margin-right: -1px;
}

.nav-tabs.tabs-right > li.nav-item {
    margin-left: -1px;
}

.nav-tabs.tabs-left > li.nav-item > button.nav-link.active,
.nav-tabs.tabs-left > li.nav-item > button.nav-link.active:hover,
.nav-tabs.tabs-left > li.nav-item > button.nav-link.active:focus {
    border-bottom-color: #dee2e6;
    border-right-color: transparent;
}

.nav-tabs.tabs-right > li.nav-item > button.nav-link.active,
.nav-tabs.tabs-right > li.nav-item > button.nav-link.active:hover,
.nav-tabs.tabs-right > li.nav-item > button.nav-link.active:focus {
    border-bottom: 1px solid #dee2e6;
    border-left-color: transparent;
}

.nav-tabs.tabs-left > li.nav-item > button.nav-link {
    border-radius: 4px 0 0 4px;
    margin-right: 0;
    width: 100%;
    text-align: left;
}

.nav-tabs.tabs-right > li.nav-item > button.nav-link {
    border-radius: 0 4px 4px 0;
    margin-right: 0;
    width: 100%;
    text-align: left;
}
